body {
  text-align: center;
  background-color: #febf10;
  font-family: 'Permanent Marker', cursive;
}

header {
  margin-top: 3%;
  border-color: black;
  border: dashed;
  border-width: 15px;	
}

#brewery-header {
  border-color: black;
  border: dashed;
  border-width: 15px;	
}

#brewery-h2 {
  margin-top: 5%;
}

input {
  font-family: 'Permanent Marker', cursive;
  text-align: center
}

input:focus::placeholder {
  font-family: 'Segoe UI';
  color: transparent;
}


ul {
  list-style: none;
  margin-top: 5%;  
  margin-left: 14%;
}

ul li {
  display:inline-block;
}

.list-div {
  margin-bottom: 3%;
  margin-left: 5%;
}



li:hover {
  color: white;
  font-weight: 700 !important;
  letter-spacing: 3px;
  transition: all 0.3s ease 0s;
}

#brewery-display a {
  text-decoration: none;
  color: black;
}

#brewery-a-tag:hover {
  color: white;
  font-weight: 700 !important;
  letter-spacing: 3px;
  transition: all 0.3s ease 0s;
}

#save:hover {
  color: #167af6;
  font-weight: 700 !important;
  letter-spacing: 3px;
  transition: all 0.3s ease 0s;
}

#save {
  background-color: white;
  border-radius: 60%;
  display: inline-block;
}

.logo-div {
  margin-top: 40%;
  margin-left: 18%;
}

#brewery-display {
  margin-top: 25%;
}

#community-fav:hover {
  color: white;
  font-weight: 700 !important;
  letter-spacing: 3px;
  transition: all 0.3s ease 0s;
}

#community-fav {
  text-decoration: none;
}

form {
  margin-top: 5%;
  margin-bottom: 5%;
}

.up:hover {
  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);

}

.down:hover {
  filter: invert(48%) sepia(100%) saturate(6000%) hue-rotate(360deg) brightness(95%) contrast(80%);

}

.down {
  height:30px; 
  width:30px;
}

.up {
  height:30px; 
  width:30px;
}

#breweries-ul {
  max-height: 400px;
  overflow: auto;
}

#breweries-h2 {
  margin-bottom: 7%;
}


.hover-magic:hover {
  color: white;
  font-weight: 700 !important;
  letter-spacing: 3px;
  transition: all 0.3s ease 0s;
}

/* #localBreweryOfTheDay {
  margin-right: 1%;
}

#localBreweryOfTheDay a {
  text-decoration: none;
}

#home-logo {
  margin-top: 6%;
}

#home-h3 {
  margin-top: 6%;
}

#enter-h2 {
  margin-top: 20%;
}

.home-container {
  border-color: black;
  border-top: dashed;
  border-width: 20px;	
}

#enter-link {
  text-decoration: none;
  color: black;
} */